  <link rel="stylesheet" href="/css/footer.css" media="screen" title="no title" charset="utf-8">

  <a href="#" class="scrollToTop"><i class="fa fa-arrow-up"></i></a>

  <div class="footerContainer">
    <div class="footer">
      <ul>
        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
        <li><a href="#"><i class="fa fa-map-marker"> Palmetto, FL</i></a></li>
      </ul>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/footer.js"></script>
</body>
</html>
