<% include partials/header %>
<link rel="stylesheet" href="/css/contact.css" media="screen" title="no title" charset="utf-8">

<div class="contactContainer">
  <div class="contactWrapper">
    <div class="contactHeader col">
      <h1>Contact</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>

      <div id="map"></div>
      <script>
        function initMap() {
          var myLatLng = {lat: 27.5875, lng: -82.4251};
          var mapDiv = document.getElementById('map');
          var map = new google.maps.Map(mapDiv, {
            center: {lat: 27.5875, lng: -82.4251},
            zoom: 10
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Trevs Landscape'
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
          async defer></script>
    </div>

    <div class="contactInfo col">
      <ul>
        <li><strong>PHONE:</strong> <br>(941) - 737 - 3576</li>
        <li><strong>LOCATION:</strong> <br>4505 69th St E Palmetto, FL</li>
        <li><strong>EMAIL:</strong> <br>trevslandscape@gmail.com  </li>
      </ul>
    </div>
  </div>
</div>

<% include partials/footer %>
