<% include partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/css/index.css">



<!-- SPLASHSCREEN PHOTO -->
<div class="splashContainer">
  <div class="splashScreen">
    <!-- HEADER -->
    <div class="headerContainer">
        <ul class="headerList">
          <li class="headerCol">
            <span><i class="fa fa-check"></i></span>
            <h4>Reliability</h4>
            <p>Service you can rely on</p>
          </li>
          <li class="headerCol">
            <span><i class="fa fa-wrench"></i></span>
            <h4>Quality</h4>
            <p>Hand picked materials</p>
          </li>
          <li class="headerCol">
            <span><i class="fa fa-usd"></i></i></span>
            <h4>Affordable</h4>
            <p>Builds for all budgets</p>
          </li>
          <li class="headerCol">
            <span><i class="fa fa-industry"></i></span>
            <h4>Expertise</h4>
            <p>Providing insight</p>
          </li>
        </ul>
      </div>
  </div>
</div>

<!-- MIDDLE CONTENT -->
<div class="middleContainer">

  <div class="middleHeader">
    <h1>Serving Communities for 20 Years</h1>
  </div>

  <!-- Three Columns -->
  <div class="middleContent col">
    <div class="middleContentPhoto"><i class="fa fa-pagelines"></i></div>
    <h3> <span>Q</span>uality. </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <hr class="style14">
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
  <div class="middleContent col">
    <div class="middleContentPhoto"><i class="fa fa-university"></i></div>
    <h3> <span>E</span>xperience.</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <hr class="style14">
    <button type="button" class="btn btn-primary">Primary</button>
  </div>

  <div class="middleContent col">
    <div class="middleContentPhoto"><i class="fa fa-picture-o"></i></div>
    <h3> <span>D</span>esign. </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <hr class="style14">
    <button type="button" class="btn btn-primary">Primary</button>
  </div>

</div>



<% include partials/footer %>
