<% include partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/css/index.css">

<!-- HEADER -->
<div class="headerContainer">
  <div class="mainHeader col-head">
    <h1>Welcome</h1>
    <p>
      Trev's landscaping brings years of experience to it's customers. This experience allows for fast, timeless and affordable services that are guaranteed to leave customers and communities satisfied with our services.
    </p>
  </div>
  <hr class="style15">
</div>

<!-- SPLASHSCREEN PHOTO -->
<div class="splashContainer">
  <div class="splashScreen">
  </div>
</div>

<!-- MIDDLE CONTENT -->
<div class="middleContainer">

  <div class="middleHeader">
    <h1>Serving Communities for 20 Years</h1>
  </div>

  <!-- Three Columns -->
  <div class="middleContent col">
    <div class="middleContentPhoto"><i class="fa fa-pagelines"></i></div>
    <h3> <span>Q</span>uality. </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>

  <div class="middleContent col">
    <div class="middleContentPhoto"><i class="fa fa-university"></i></div>
    <h3> <span>E</span>xperience.</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>

  <div class="middleContent col">
    <div class="middleContentPhoto"><i class="fa fa-picture-o"></i></div>
    <h3> <span>D</span>esign. </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>

</div>

<!-- FOOTER -->
<div class="footerContainer">
  <div class="footer">
    <h5>
      Copyright Trev's Landscaping LLC
    </h5>
  </div>
</div>

<% include partials/footer %>
