<% include partials/header %>
<link rel="stylesheet" href="/css/services.css" media="screen" title="no title" charset="utf-8">

<div class="introContainer">
  <div class="introOverlay">
    <div class="introDisplay">
      <h1>Serving you.</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <button class="btn btn-success">Contact Us</button>
    </div>
  </div>
</div>

<div class="midContainer">
  <div class="midOneDisplay">
  <img src="https://palmbeachcountyextension.files.wordpress.com/2011/12/2011-04-05-021.jpg" alt="" />
  </div>

  <div class="midOneDisplay">
    <h3>Construction</h3>
      <p>
        Let's get started on something great!
      </p>
      <ul>
        <li>IRRIGATION INSTALLATION/SERVICE</li>
        <li>LANDSCAPE LIGHTING</li>
        <li>RETAINING WALLS</li>
        <li>DRIVEWAYS, WALKWAYS, PATIOS (STONE, PAVERS)</li>
        <li>DRAINAGE SOLUTIONS</li>
        <li>TREES AND SHRUB INSTALLATION</li>
        <li>PROFESSIONAL LANDSCAPE DESIGN</li>
      </ul>
    </div>
</div>

<div class="midContainer">
  <div class="midTwoDisplay">
    <h3>Construction</h3>
      <p>
        Let's get started on something great!
      </p>
      <ul>
        <li>IRRIGATION INSTALLATION/SERVICE</li>
        <li>LANDSCAPE LIGHTING</li>
        <li>RETAINING WALLS</li>
        <li>DRIVEWAYS, WALKWAYS, PATIOS (STONE, PAVERS)</li>
        <li>DRAINAGE SOLUTIONS</li>
        <li>TREES AND SHRUB INSTALLATION</li>
        <li>PROFESSIONAL LANDSCAPE DESIGN</li>
      </ul>
    </div>

    <div class="midTwoDisplay">
      <img src="http://www.theclusterfest.com/wp-content/uploads/2014/12/florida-landscaping-ideas.jpg" alt="" />

    </div>
</div>


<% include partials/footer %>
