<% include partials/header %>
<link rel="stylesheet" href="/css/services.css" media="screen" title="no title" charset="utf-8">

<div class="introContainer">

  <div class="introOverlay">
    <div class="introDisplay">
      <h1>Serving you.</h1>
      <p>
        Let's Build Something Together.
      </p>
      <button class="btn btn-success"><a href="/contact">Contact Us</a></button>
    </div>
  </div>
</div>

<div class="midContainer">
  <div class="midOneDisplay">
  <img src="https://palmbeachcountyextension.files.wordpress.com/2011/12/2011-04-05-021.jpg" alt="" />
  </div>

  <div class="midOneDisplay">
    <h3>Construction</h3>
      <p>
        Let's get started on something great!
      </p>
      <ul>
        <li><span>IRRIGATION INSTALLATION/SERVICE</span></li>
        <li><span>LANDSCAPE LIGHTING</span></li>
        <li><span>RETAINING WALLS</span></li>
        <li><span>DRIVEWAYS, WALKWAYS, PATIOS (STONE, PAVERS)</span></li>
        <li><span>DRAINAGE SOLUTIONS</span></li>
        <li><span>TREES AND SHRUB INSTALLATION</span></li>
        <li><span>PROFESSIONAL LANDSCAPE DESIGN</span></li>
      </ul>
    </div>
</div>

<div class="midContainer">
  <div class="midTwoDisplay">
    <h3>Any Size Project</h3>
      <p>
        Let's get started on something great!
      </p>
      <ul>
        <li><span>IRRIGATION INSTALLATION/SERVICE</span></li>
        <li><span>LANDSCAPE LIGHTING</span></li>
        <li><span>RETAINING WALLS</span></li>
        <li><span>DRIVEWAYS, WALKWAYS, PATIOS (STONE, PAVERS)</span></li>
        <li><span>DRAINAGE SOLUTIONS</span></li>
        <li><span>TREES AND SHRUB INSTALLATION</span></li>
        <li><span>PROFESSIONAL LANDSCAPE DESIGN</span></li>
      </ul>
    </div>

    <div class="midTwoDisplay">
      <img src="http://www.theclusterfest.com/wp-content/uploads/2014/12/florida-landscaping-ideas.jpg" alt="" />

    </div>
</div>

<script type="text/javascript" src="/js/services.js"></script>



<% include partials/footer %>
