* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}


/**********************************************************
Navbar
**********************************************************/
.navbar-default .navbar-brand {
  color: #5e5e5e;
  font-weight: bold;
}


.navbar-default {
  margin-bottom: 0;
}


.navbar li a {
  font-weight: bold;
}


/**********************************************************
Button
**********************************************************/
.btn-success {
  background: orangered;
  border: none;
  transition: 0.4s;
}

.btn-success:hover {
  background: #f9f9f9;
  transition: 0.4s;
}



/**********************************************************
Intro
**********************************************************/
.introContainer {
  width: 100%;
  height: 100vh;
  background: rgba(86, 133, 108, 0.7);
}

.introOverlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
}

.introDisplay {
  width: 100%;
  height: 80vh;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.introDisplay p {
  line-height: 25px;
}

.introDisplay button {
  margin-top: 20px;
}

.introDisplay a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

.introDisplay a:hover {
  color: rgba(86, 133, 108, 0.7);
  font-weight: bold;
  transition: 0.4s;
}




/**********************************************************
Middle Display
**********************************************************/

.midContainer {
  width: 100%;
}

.midContainer h3 {
margin: 0;
margin-left: 20px;
padding-left: 5px;
font-weight: bold;
border-left: 8px solid rgba(86, 133, 108, 0.7);
}

.midContainer p {
  line-height: 30px;
  margin-left: 30px;
}

.midOneDisplay {
  width: 100%;
}

.midOneDisplay:nth-child(2) {
  padding: 1em;
}

.midOneDisplay ul {
  line-height: 30px;
  list-style-type: disc;
  font-size: 10px;
  margin-left: 25px;
}


.midOneDisplay img {
  width: 100%;
  display: none;
}

/* ----- Middle Two Display -----*/


.midTwoDisplay {
  width: 100%;
}

.midTwoDisplay img {
  width: 100%;
}

.midTwoDisplay:nth-child(1) {
  padding: 1em;
}

.midTwoDisplay ul {
  line-height: 30px;
  list-style-type: disc;
  font-size: 10px;
  margin-left: 25px;
}

/**********************************************************
Footer
**********************************************************/




@media (min-width: 769px) {

  /**********************************************************
  Navbar
  **********************************************************/
  .navbar-default {
    height: 100px;
  }


  .navbar-default .navbar-brand  {
    font-size: 35px;
    font-weight: bold;
    color: #5e5e5e;
    letter-spacing: 5px;
    padding-top: 28px;
  }

  .navbar-default .navbar-nav>li>a {
    padding-top: 40px;
  }




  /**********************************************************
  Intro
  **********************************************************/


  .introOverlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .introDisplay {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .introDisplay p {
    line-height: 32px;
  }

  .introDisplay button {
    margin-top: 20px;
  }



  /**********************************************************
  Middle Display
  **********************************************************/

  .midContainer {
    width: 100%;
  }

.midContainer h3 {
  margin: 0;
  margin-left: 20px;
  padding-left: 5px;
  font-weight: bold;
  border-left: 8px solid rgba(86, 133, 108, 0.7);
}

  .midContainer p {
    line-height: 30px;
    margin-left: 30px;
  }

  .midOneDisplay {
    width: 49.5%;
    display: inline-block;
    vertical-align: middle;
  }

  .midOneDisplay:nth-child(2) {
    padding: 1em;
  }

  .midOneDisplay ul {
    line-height: 30px;
    list-style-type: disc;
    font-size: 10px;
    margin-left: 50px;
  }

  .midOneDisplay li {
    color: green;
  }

  .midOneDisplay span {
    color: #333;
  }

  .midOneDisplay img {
    width: 100%;
    display: block;
  }

  /* ----- Middle Two Display -----*/


  .midTwoDisplay {
    width: 49.5%;
    display: inline-block;
    vertical-align: middle;
  }

  .midTwoDisplay img {
    width: 100%;
  }

  .midTwoDisplay:nth-child(1) {
    padding: 1em;
  }

  .midTwoDisplay ul {
    line-height: 30px;
    list-style-type: disc;
    font-size: 10px;
    margin-left: 50px;
  }

  .midTwoDisplay li {
    color: green;
  }

  .midTwoDisplay span {
    color: #333;
  }


}
